<div class="collection with-header">
  <div class="collection-header">
    <h4>ハッシュタグ一覧 <span>(小文字で統一表示)</span></h4>
  </div>
  <% @hashtags.each do |key, value| %>
      <%= link_to "#{key}(#{value})", tweets_path(params: {hash_tag: key}), class: 'collection-item' %>
  <% end %>
</div>