<% if user_signed_in? %>
  <%= render 'tweets/search_form' %>
  <%= render 'tweets/feed' %>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Favdivider</h1>
    <h2>This app is organize your favorites.</h2>
    <%= link_to "Twitter Login", user_twitter_omniauth_authorize_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
