<h3>Settings</h3>
<p><i class="material-icons">delete</i>アカウント削除
<li style="list-style: none">
  <div class="divider"></div>
</li>
Favdividerに登録してあるユーザ情報、ツイート、カテゴリー等全て削除されます</p>
<%= link_to 'アカウントを削除する', user_path, method: :delete, data: {confirm: "You sure?"}, class: 'btn red lighten-1' %>