<div class="row">
  <% @post_users.each do |post_user| %>
    <div class="tweet post_users">
      <%= image_tag(post_user.profile_image, size: 50) %>
      <p>@<%= post_user.screen_name %></p>
      <span>
        <%= post_user.profile_description %>
        <%= link_to '', post_user_path(post_user.id), 'aria-hidden': true %>
        </span>
    </div>
  <% end %>
</div>
