body {
  font-size: 13px;
}
/* tweets */
.tweet {
  //border: #EEEEEE solid 0.1px;
  //border-bottom: none;
  //padding: 5px;
  > img {
    border-radius: 50%;
    float: left;
  }
  .user {
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    .screen-name{
      font-weight: normal;
      color: #999999;
    }
    margin-left: 10px;
  }

  .content {
    display: block;
    margin-left: 60px;
    p{
      word-wrap: break-word;
      margin: 0;
    }

    img {
      display: inline-block;
      padding: 0 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .status {
    margin-left: 60px;
    display: block;
    .posted-at {
      color: #999999;
    }

    img:hover {
      cursor: pointer;
      filter: opacity(20%);
    }
  }
}

.post_users {
  min-height: 50px;
  p {
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 60px;
  }

  span {
    display: block;
    margin-left: 60px;
    word-wrap: break-word;
  }

  :hover {
    cursor: pointer;
  }
}

label {
  font-weight: normal !important;
}

[data-status="false"] {
  filter: opacity(20%);
}

header, main {
  padding-left: 300px;
}

//header {
//  margin-bottom: 70px;
//}

@media only screen and (max-width : 992px) {
  header, main {
    padding-left: 0;
  }
}

.alert {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #FFFFCC;
  color: red;
}
