@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */

body {
  padding-top: 60px;
  font-size: 10px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1 {
  line-height: 1;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* tweets */

.well {
  height: auto;

  > img {
    border-radius: 50%;
    float: left;
  }
}

.tweets {
  .user {
    font-weight: bold;
    margin-left: 10px;
  }

  .content {
    display: block;
    margin-left: 60px;

    img {
      display: inline-block;
      padding: 0 5px;
    }
  }

  .status {
    margin-left: 60px;
    display: block;

    img:hover {
      cursor: pointer;
      filter: opacity(20%);
    }
  }
}

.post_users {
  p {
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 60px;
  }

  span {
    display: block;
    margin-left: 60px;
  }

  :hover {
    cursor: pointer;
  }
}

label {
  font-weight: normal !important;
}

[data-status="false"]{
  filter: opacity(20%);
}
