body {
  font-size: 13px;
}
/* tweets */
.tweets {
  > img {
    border-radius: 50%;
    float: left;
  }
  .user {
    font-weight: bold;
    .screen-name{
      font-weight: normal;
      color: #999999;
    }
    margin-left: 10px;
  }

  .content {
    display: block;
    margin-left: 60px;
    p{
      margin: 0;
    }

    img {
      display: inline-block;
      padding: 0 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .status {
    margin-left: 60px;
    display: block;
    .posted-at {
      color: #999999;
    }

    img:hover {
      cursor: pointer;
      filter: opacity(20%);
    }
  }
}

.post_users {
  p {
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 60px;
  }

  span {
    display: block;
    margin-left: 60px;
  }

  :hover {
    cursor: pointer;
  }
}

label {
  font-weight: normal !important;
}

[data-status="false"] {
  filter: opacity(20%);
}

header, main {
  padding-left: 300px;
}

//header {
//  margin-bottom: 70px;
//}

@media only screen and (max-width : 992px) {
  header, main {
    padding-left: 0;
  }
}
