body {
  font-size: 13px;
}

@media screen and (min-width: 992px) {
  main .row {
    width: 70%;
    margin: auto;
  }
}

/* tweets */
.tweet {
  border: #eeeeee solid 0.1px;
  border-bottom: none;
  padding: 5px;
  position: relative;
  z-index: 1;

  > img {
    border-radius: 50%;
    float: left;
  }

  .user {
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;

    .screen-name {
      font-weight: normal;
      color: #999999;
    }

    margin-left: 10px;
  }

  .content {
    display: block;
    margin-left: 60px;

    p {
      word-wrap: break-word;
      margin: 0;
      a {
        display: none;
      }
    }

    img {
      display: inline-block;
      padding: 0 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .status {
    margin-left: 60px;
    margin-bottom: 10px;
    display: block;

    .edit-tweet {
      float: right;
    }

    .posted-at {
      color: #999999;
    }

    img:hover {
      cursor: pointer;
      filter: opacity(20%);
    }
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}
a.inlink {
  position: relative; /*「別リンク」は普通に配置するため */
  z-index: 3; /* リンク要素の重なり順を上にするため */
}
.tweet:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.post-user {
  min-height: 70px;
  position: relative;
  z-index: 1;
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2;
  }
}

.post-user:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

header, main {
  padding-left: 300px;
}

//header {
//  margin-bottom: 70px;
//}

@media only screen and (max-width: 992px) {
  header, main {
    padding-left: 0;
  }
}

.alert {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #FFFFCC;
  color: red;
}
