<h3>Favdivider登録ユーザー</h3>
<div id="tweets">
  <% @users.each do |user| %>
    <div class="tweet post-user">
      <%#= image_tag(user.profile_image, size: 50) %>
      <p><%= user.name %></p>
        <%= user.description %>
      <%= link_to '', everybodys_user_path(user), 'aria-hidden': true %>
    </div>
  <% end %>
</div>