<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal">
        <a href="/tweets" class="brand-logo">Favdivider</a>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
</header>
